<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/sales_management</property>
        <property name="connection.username">root</property>
        <property name="connection.password">my-secret-pw</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.example.salesmanagement.configuration.ConfigOption"/>
        <mapping class="com.example.salesmanagement.client.Client"/>
        <mapping class="com.example.salesmanagement.supplier.Supplier"/>
        <mapping class="com.example.salesmanagement.product.Product"/>
        <mapping class="com.example.salesmanagement.category.Category"/>
        <mapping class="com.example.salesmanagement.taxrate.TaxRate"/>
        <mapping class="com.example.salesmanagement.document.SalesDocument"/>
        <mapping class="com.example.salesmanagement.document.DocumentItem"/>
        <mapping class="com.example.salesmanagement.document.Quotation"/>
        <mapping class="com.example.salesmanagement.document.DeliveryNote"/>
        <mapping class="com.example.salesmanagement.document.Invoice"/>
        <mapping class="com.example.salesmanagement.document.CreditInvoice"/>
        <mapping class="com.example.salesmanagement.document.PurchaseDocument"/>
        <mapping class="com.example.salesmanagement.document.PurchaseOrder"/>
        <mapping class="com.example.salesmanagement.document.PurchaseDeliveryNote"/>
        <mapping class="com.example.salesmanagement.payment.Payment"/>
        <mapping class="com.example.salesmanagement.payment.Check"/>
        <mapping class="com.example.salesmanagement.payment.Cash"/>
        <mapping class="com.example.salesmanagement.payment.BankTransfer"/>
        <mapping class="com.example.salesmanagement.stockmouvement.MouvementSource"/>
        <mapping class="com.example.salesmanagement.stockmouvement.StockCorrection"/>
        <mapping class="com.example.salesmanagement.stockmouvement.StockMouvement"/>
        <mapping class="com.example.salesmanagement.stockmouvement.StockCorrectionItem"/>
        <mapping class="com.example.salesmanagement.stockmouvement.StockCorrectionBasedMouvementSource"/>
        <mapping class="com.example.salesmanagement.stockmouvement.DocumentBasedMouvementSource"/>
    </session-factory>
</hibernate-configuration>